body{
    background-color: darkslategray;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
}
.box {
    width: 200px;
    height: 200px;
    background-color: lightblue;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3); /* Sombra con desenfoque */
}
a{
    color: white;
    text-decoration: none;
}

.contenedor{
    max-width: 800px;
    margin: 0 auto;
    height: 100vh;
    position: relative;

}

footer{
    bottom: 0;
    display: block;
    text-align: center;
}

h1{
    margin-top: 0;
    text-align: center;
}

.contenedor-imagen{
    display: flex;
    justify-content: center;
}

.imagen{
    width: 400px;
    height: 200px;
}

.campo{
    padding: 12px 4px;
}

.campo label{
    display: block;
}